.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pagination > button{
    border : none;
    padding: 14px 20px;
    border-radius: 8px;
    background-color: var(--color-btn);
    color: var(--color-text);
    font-size: 1rem;
    cursor: pointer;
}