@layer Base {
    .modal {
        display: flex;
        justify-content: center;
    }

    .modal-content {
        width: 1100px;
        height: 800px;
        padding: 15px 25px;
        background-color: var(--color-bg);
        border-radius: 8px;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .modal-content::-webkit-scrollbar {
        display: none;
    }

    .title-btn-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
    }

    .modal-title {
        margin: 0;
        color: black;
        font-weight: 500;
    }
}

@layer podlayout {
    .flex-wrapper {
        display: flex;
        gap: 30px;
        align-items: flex-start;
        justify-content: center;
        box-shadow: 0 0 1px 1px lightgray;
        border-radius: 8px;
        padding: 20px 15px 20px 15px;
    }

    .pod-img {
        width: 300px;
        height: 300px;
    }

    .pod-img > img {
        width: 100%;
        border-radius: 8px;
    }

    .pod-info-container {
        flex: 1;
    }

    .pod-details > p {
        margin: 10px 0 0 0;
        color: var(--color-content-text);
    }
}

@layer MetaData {
    .gen-header {
        margin: 20px 0 0 0;
        font-weight: 500;
        font-size: 17px;
        color: rgba(0, 0, 0, 0.4);
    }

    .genre-date {
        display: flex;
        align-items: center;
        gap: 35px;
    }

    .genre-container {
        display: flex;
        flex-direction: column;
    }

    .genre-flex {
        display: flex;
        gap: 8px;
        margin: 5px 0 10px;
    }

    .genre-flex > div {
        background-color: var(--color-btn);
        padding: 7px 12px;
        border-radius: 25px;
        font-size: 0.8rem;
        color: var(--color-text);
    }

    .date {
        display: flex;
        flex-direction: column;
        flex: 1;
        /* gap: 10px */
    }

    /* .date-details > p:nth-last-of-type(2) {
        font-weight: 500;
        color: rgba(0, 0, 0, 0.4);
        margin: 20px 0 0 0;
    } */

    .date > p:nth-last-of-type(1) {
        font-weight: 500;
        color: var(--color-content-text);
        margin: 5px 0 10px 0;
    }

    .stats-flex{
        display: flex;
    }

    .total-seasons > p:nth-last-of-type(2), 
    .total-episodes > p:nth-last-of-type(2),
    .date-details > p:nth-last-of-type(2){
        color: rgba(0, 0, 0, 0.4);
        font-weight: 500;
        margin: 0;
        margin-top: 20px;
    }

    .total-seasons > p:nth-last-of-type(1), 
    .total-episodes > p:nth-last-of-type(1),
    .date-details > p:nth-last-of-type(1){
        font-weight: 500;
        margin: 0;
        margin: 5px 0 10px;
    }
}

@layer seasons {
    .season-list-container {
        height: 350px;
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .season-list-container::-webkit-scrollbar {
        display: none;
    }

    .season-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: 500px;
        overflow: auto;
    }

    .seasons-clm {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        padding: 0 18px;
        width: 100%;
        border: 1px solid var(--color-border);
        border-radius: 8px;
    }

    .season-title {
        margin: 0;
        font-weight: 500;
    }
}

@layer responsive {
    @media (max-width: 480px) {
        .modal-title {
            font-size: 1.5rem;
        }

        .modal-content {
            display: flex;
            flex-direction: column;
            padding-top: 80px;
        }

        .flex-wrapper {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
