@layer Modal{
    .modal{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: var(--color-backdrop);
        backdrop-filter: blur(2px);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        transition: opacity 1.2s ease;
        z-index: 2;
    }

    .display-modal{
        opacity: 1;
        pointer-events: auto;
    }

    .modal-content{
        width: 900px;
        height: 800px;
        padding: 15px 25px;
        background-color: var(--color-bg);
        border-radius: 8px;
        overflow-y: auto;
        scrollbar-width: none;      
        -ms-overflow-style: none;
    }

    .modal-content::-webkit-scrollbar {
        display: none;
    }


    .title-btn-wrapper{
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin-bottom: 25px;;
    }

    .modal-title{
        margin: 0;
        color: black;
        font-weight: 500;
    }

    .close-btn > img{
        width: 15px;
        height: 15px;
    }

    .close-btn{
        cursor: pointer;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pod-img{
        width: 300px;
        height: 300px;
    }

    .pod-img > img{
        width: 100%;
        border-radius: 8px;
    }

    .flex-wrapper{
        display: flex;
        gap: 30px;
        align-items: flex-start;
        justify-content: center;
    }

    .pod-info-container{
        flex: 1;
    }

    .pod-description > p:nth-of-type(1){
        margin: 0;
        font-weight: 500;
        font-size: 17px;
    }

    .pod-description > p:nth-of-type(2){
        margin: 0;
        margin-top: 10px;
        color: var(--color-content-text);
    }

    .pod-description > p:nth-of-type(3){
        font-weight: 500;
        margin: 0;
        font-size: 17px;
        margin: 20px 0 10px 0;
    }

    .genre-flex{
        display: flex;
        gap: 8px;
        margin: 5px 0 10px 0;
    }

    .genre-flex > div{
        background-color: var(--color-btn);
        padding: 7px 12px;
        border-radius: 25px;
        font-size: 0.8rem;
        color: var(--color-text);
    }

    .date{
        display: flex;
        align-items: center;
        gap: 5px
    }

    .date > img{
        width: 24px;
        height: 24px;
    }

    .date > p{
        font-weight: 500;
        color: var(--color-content-text);
    }

    /* SEASONS SECTION */
    .season-list-container{
        overflow: auto;
        height: 350px;
        /* hides scrollbar */
        scrollbar-width: none;      /* Firefox */
        -ms-overflow-style: none;   /* IE and Edge */
    }

    .season-list{
        display: flex;
        flex-direction: column;
        gap: 15px;
        /* border: 2px solid red; */
        overflow: auto;
        height: 500px;
    }

    .season-list-container::-webkit-scrollbar {
        display: none;/* Chrome, Safari, Opera */
    }

    .seasons-clm{
        border: 1px solid var(--color-border);
        border-radius: 8px;
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 18px;

    }

    .season-title{
        margin: 0
    }

    .season-title{
        font-weight: 500;
    }

}

@media (max-width: 480px) {
        /* modal */

    .modal-title{
        font-size: 1.5rem;
    }
    
    .modal-content{
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        /* justify-content: center; */
        /* align-items: center; */
        /* width: 330px; */
        /* height: 600px;; */
    }

    .flex-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}